<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Felicitup</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>felicitup_app</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSCameraUsageDescription</key>
	<string>$(PRODUCT_NAME) would like to have access to the camera to record your congratulatory video messages and create celebratory mixes for your friends.</string>
	<key>NSContactsUsageDescription</key>
	<string>$(PRODUCT_NAME) needs access to your contacts to find friends, connect with them within the app and help you remember and organize group greetings. Your contacts will be hashed (transformed into unrecognizable codes) and securely uploaded to our servers to facilitate these functions.Password update flow completed.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>$(PRODUCT_NAME) would like to have access to the microphone so that your greeting videos include sound, so your friends can hear your voice and your good wishes!</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>$(PRODUCT_NAME) would like to have access to your gallery so that you can choose your best profile picture and share proof when notifying the jackpot payment in the felicitups management.</string>
	<key>FirebasePhoneAuthMultiFactorEnabled</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>fetch</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>FacebookAppID</key>
	<string>871743075419914</string>
	<key>FacebookClientToken</key>
	<string>YOUR_CLIENT_TOKEN</string>
	<key>FacebookDisplayName</key>
	<string>Felicitup</string>
	<key>CFBundleURLTypes</key>
	<array>
	<dict>
		<key>CFBundleTypeRole</key>
		<string>Editor</string>
		<key>CFBundleURLSchemes</key>
		<array>
		<string>com.googleusercontent.apps.846523746579-5uln1n8dn639dbt6h9hs6uide5mmrogr</string>
		<string>fb871743075419914</string>
		</array>
	</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
	<string>googlechrome</string>
	<string>comgooglemaps</string>
	<string>comgooglemaps-x-callback</string>
	<string>firebase</string>
	<string>https</string>
	<string>whatsapp</string>
	</array>
</dict>

</plist>
